@import url("./fonts/myriad.css");
@font-face {
  font-family: 'icons';
  src: url("fonts/icons/icons.eot?eoizfj061");
  src: url("fonts/icons/icons.eot?eoizfj#iefix061") format("embedded-opentype"), url("fonts/icons/icons.ttf?eoizfj061") format("truetype"), url("fonts/icons/icons.woff?eoizfj061") format("woff"), url("fonts/icons/icons.svg?eoizfj#icons061") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: 'icons', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-vk:before {
  content: "\e903"; }

.icon-instagram:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e905"; }

.icon-chevron-down:before {
  content: "\e909"; }

.icon-chevron-right:before {
  content: "\e907"; }

.icon-chevron-left:before {
  content: "\e908"; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: MyriadProRegular, serif;
  font-weight: 300;
  font-size: 16px;
  height: 100%;
  line-height: 1.4;
  width: 100%; }

a {
  -webkit-transition: color 300ms linear;
  -khtml-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  transition: color 300ms linear;
  background-color: transparent;
  text-decoration: none; }
  a:hover {
    -webkit-transition: color 300ms linear;
    -khtml-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

hr {
  border: 0; }

div {
  display: block; }

main {
  display: block; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration-style: dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

:focus {
  outline: 0 !important; }

button:active, button:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

input[type="text"]:focus {
  outline: none; }

input:-webkit-autofill {
  color: #FFFFFF !important; }

input::-webkit-input-placeholder {
  color: #E1E1E1;
  font-size: 14px; }

input::-moz-placeholder {
  color: #E1E1E1;
  font-size: 14px; }

input:-ms-input-placeholder {
  color: #E1E1E1;
  font-size: 14px; }

input:-moz-placeholder {
  color: #E1E1E1;
  font-size: 14px; }

.check-area {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 18px;
  height: 15px;
  margin-top: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.check-area input {
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  height: 1px;
  width: 1px; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1px solid #fff; }

/* On mouse-over, add a grey background color */
.check-area:hover input ~ .checkmark {
  background-color: #B3B3B3; }

/* When the checkbox is checked, add a blue background */
.check-area input:checked ~ .checkmark {
  background-color: #FFFFFF; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.check-area input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.check-area .checkmark:after {
  left: 3px;
  top: 0;
  width: 3px;
  height: 6px;
  border: solid #008DCD;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn {
  border: none;
  text-transform: uppercase;
  color: inherit;
  padding: 16px 0 13px;
  width: 360px;
  cursor: pointer;
  z-index: 1;
  display: inline-block;
  outline: none;
  position: relative;
  border-radius: 30px;
  line-height: normal;
  text-align: center;
  font-size: 1em; }

.btn-blue {
  color: #FFFFFF;
  background-color: #008DCD;
  -webkit-transition: all 300ms linear;
  -khtml-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear; }
  .btn-blue:hover {
    -webkit-box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
    -moz-box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
    -webkit-transition: all 300ms linear;
    -khtml-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
  .btn-blue:focus {
    background-color: #94D1EC; }

.btn-orange {
  color: #363636;
  background-color: #FFCC00;
  -webkit-transition: all 300ms linear;
  -khtml-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear; }
  .btn-orange:hover {
    -webkit-box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
    -moz-box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
    box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
    -webkit-transition: all 300ms linear;
    -khtml-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
  .btn-orange:focus {
    background-color: #FCE39C; }

.form-control {
  width: 320px;
  padding: 16px 20px 13px;
  border-radius: 30px;
  overflow: visible;
  display: block; }
  .form-control.form-transparent {
    border: 1px solid #FFFFFF;
    background-color: transparent; }
    .form-control.form-transparent::-webkit-input-placeholder {
      color: #FFFFFF;
      font-size: 14px; }
    .form-control.form-transparent::-moz-placeholder {
      color: #FFFFFF;
      font-size: 14px; }
    .form-control.form-transparent:-ms-input-placeholder {
      color: #FFFFFF;
      font-size: 14px; }
    .form-control.form-transparent:-moz-placeholder {
      color: #FFFFFF;
      font-size: 14px; }
  .form-control.form-black {
    border: 1px solid #363636;
    background-color: transparent; }
    .form-control.form-black::-webkit-input-placeholder {
      color: #363636;
      font-size: 14px; }
    .form-control.form-black::-moz-placeholder {
      color: #363636;
      font-size: 14px; }
    .form-control.form-black:-ms-input-placeholder {
      color: #363636;
      font-size: 14px; }
    .form-control.form-black:-moz-placeholder {
      color: #363636;
      font-size: 14px; }
  .form-control.form-blue {
    border: 1px solid #008DCD;
    background-color: transparent; }
    .form-control.form-blue::-webkit-input-placeholder {
      color: #008DCD;
      font-size: 14px; }
    .form-control.form-blue::-moz-placeholder {
      color: #008DCD;
      font-size: 14px; }
    .form-control.form-blue:-ms-input-placeholder {
      color: #008DCD;
      font-size: 14px; }
    .form-control.form-blue:-moz-placeholder {
      color: #008DCD;
      font-size: 14px; }

summary::-webkit-details-marker {
  display: none; }

summary:after {
  content: "";
  width: 20px;
  cursor: pointer;
  position: absolute;
  height: 20px;
  border-left: 2px solid #008DCD;
  border-bottom: 2px solid #008DCD;
  box-sizing: border-box;
  transform: rotate(-45deg);
  right: 20px;
  top: 17px; }

details[open] summary:after {
  transform: rotate(135deg);
  border-left: 2px solid #B3B3B3;
  border-bottom: 2px solid #B3B3B3;
  top: 24px; }

.slider__wrap {
  max-width: 960px;
  overflow: hidden;
  position: relative;
  margin: 0 auto; }
  .slider__wrap .slider__scroll {
    display: flex;
    overflow: scroll; }

.is-animating {
  transition: transform 400ms; }

.carousel-pagination {
  display: flex;
  display: -webkit-box;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 42%;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 100; }

.carousel-arrow {
  font-size: 22px;
  position: absolute; }

.next:before,
.prev:before {
  content: "";
  width: 20px;
  position: absolute;
  height: 20px;
  border-left: 2px solid #B3B3B3;
  border-bottom: 2px solid #B3B3B3;
  box-sizing: border-box; }

.next:before {
  right: 0;
  transform: rotate(-135deg); }

.prev:before {
  left: 0;
  transform: rotate(45deg); }

.next,
.prev {
  cursor: pointer; }
  .next:hover:before,
  .prev:hover:before {
    border-left: 2px solid #008DCD;
    border-bottom: 2px solid #008DCD; }

.next {
  right: 10px; }

.prev {
  left: 10px; }

.flex-box-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container {
  max-width: 1160px;
  margin: 0 auto;
  display: block; }
  .container .container__name {
    text-transform: uppercase;
    font-family: MyriadProBold, serif;
    font-size: 36px;
    margin-bottom: 53px; }

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  .wrapper.modal-open {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px); }
    .wrapper.modal-open:after {
      display: block;
      background-color: rgba(68, 68, 68, 0.5);
      background-repeat: repeat;
      position: fixed;
      width: 100%;
      height: 100%;
      content: "";
      z-index: 900; }
  .wrapper__body {
    flex-grow: 1; }
  .wrapper__footer {
    flex-grow: 0;
    width: 100%;
    background-color: #E9E9E9; }

#top {
  position: relative;
  height: 525px; }
  #top:before {
    background-image: url("./images/backgound.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -45px;
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 100%;
    height: 100%; }

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 29px; }
  .top-nav .top-nav__logo .top-nav__img {
    width: 160px;
    height: 46px; }
  .top-nav .top-nav__logo .top-nav__img-menu {
    display: none; }
  .top-nav .top-nav__menu {
    list-style: none; }
    .top-nav .top-nav__menu li {
      display: inline-block; }
      .top-nav .top-nav__menu li .top-nav__item {
        padding: 15px 2em;
        color: #FFFFFF; }
        .top-nav .top-nav__menu li .top-nav__item:hover {
          color: #FFCC00; }

.top-slogan {
  margin-top: 88px;
  color: #FFFFFF; }
  .top-slogan__h1 {
    font-family: MyriadProBold, serif;
    margin-bottom: 10px; }
  .top-slogan__h2 {
    margin-bottom: 35px; }

#about {
  background-color: #F7F7F7; }
  #about .about-container {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-gap: 52px; }

.about-left .about-left__h2 {
  font-family: MyriadProBold, serif;
  margin-bottom: 22px; }
.about-left .about-left__paragraph {
  margin-bottom: 35px; }

.about-right .about-right__img {
  width: 660px;
  height: 336px; }

#steps {
  padding: 69px 0; }
  #steps .steps-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    grid-column-gap: 4%;
    grid-row-gap: 5%; }
    #steps .steps-container .steps__item {
      min-height: 100%;
      position: relative;
      display: flex;
      flex-direction: column; }
      #steps .steps-container .steps__item .steps__img {
        flex-grow: 2;
        width: 100%;
        max-height: 312px; }
      #steps .steps-container .steps__item .steps__desc {
        flex-grow: 1;
        min-height: 150px; }
        #steps .steps-container .steps__item .steps__desc .steps__h3 {
          margin-bottom: 23px;
          margin-top: 41px; }
        #steps .steps-container .steps__item .steps__desc p {
          font-size: 20px; }
      #steps .steps-container .steps__item:first-child .steps__img {
        margin-top: -20px; }

#package {
  background-color: #F7F7F7; }
  #package .package-container {
    min-height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #package .send-package__h3 {
    font-family: MyriadProBold, serif;
    font-size: 36px; }

#call-to {
  background-color: #008DCD;
  color: #FFFFFF; }
  #call-to .call-to-container {
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #call-to .call-to__left .call-to__h3 {
    font-size: 48px;
    margin-top: -15px;
    font-family: MyriadProBold, serif;
    text-transform: uppercase; }
  #call-to .call-to__left .call-to__h4 {
    font-size: 24px; }
  #call-to .call-to__right {
    width: min-content;
    margin-top: 45px; }
    #call-to .call-to__right .form-control {
      margin-bottom: 9px; }

.slider {
  position: relative;
  display: flex;
  align-items: center; }
  .slider .slider__item {
    min-width: 440px;
    padding: 0 20px; }
    .slider .slider__item .slider__item-top {
      overflow: hidden; }
      .slider .slider__item .slider__item-top .slider__item-img {
        float: left;
        margin-right: 40px; }
      .slider .slider__item .slider__item-top .slider__item-name {
        font-size: 36px; }
      .slider .slider__item .slider__item-top .slider__item-company {
        font-size: 20px; }
      .slider .slider__item .slider__item-top .slider__item-type {
        margin-top: 5px; }
    .slider .slider__item .slider__item-review {
      margin-top: 26px; }

#reviews .reviews-container {
  padding: 110px 0;
  position: relative; }

#advantages {
  background-color: #F7F7F7; }
  #advantages .advantages-container {
    padding: 100px 0;
    position: relative; }

.advantages__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
  grid-column-gap: 34px; }
  .advantages__items .advantages__image-block {
    padding: 50% 0;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 34px; }
    .advantages__items .advantages__image-block .advantages__img {
      position: absolute; }
  .advantages__items .advantages__anons {
    text-align: center; }

#guarantee {
  background-color: #FFFFFF; }
  #guarantee .guarantee-container {
    padding: 100px 0;
    position: relative; }

.guarantee__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-column-gap: 3%; }
  .guarantee__items .guarantee__item .guarantee__image-block {
    height: 160px;
    width: 160px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 34px; }
  .guarantee__items .guarantee__item .guarantee__name {
    font-size: 30px;
    margin-bottom: 15px; }
  .guarantee__items .guarantee__item .guarantee__anons {
    min-height: 110px;
    margin-bottom: 15px; }

#doubt {
  background-color: #D2ECF7; }
  #doubt .doubt-container {
    padding: 64px 0 59px;
    position: relative; }

.doubt__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  grid-column-gap: 2%; }
  .doubt__items .doubt__item {
    position: relative;
    background: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 30px; }
    .doubt__items .doubt__item .doubt__name {
      display: flex;
      padding: 0 30px;
      align-items: center;
      min-height: 64px;
      width: 80%; }
    .doubt__items .doubt__item .doubt__text {
      position: absolute;
      background: #f2f2f2;
      z-index: 100;
      margin-top: -5px;
      padding: 10px 30px;
      border-radius: 0 0 30px 30px;
      box-shadow: -1px 4px 5px 0 #a4a4a4; }
    .doubt__items .doubt__item[open] {
      border-radius: 30px 30px 0 0;
      box-shadow: 0 0 5px 0 #a4a4a4; }

#partners .partners-container {
  padding: 70px 0;
  position: relative; }
  #partners .partners-container .slider__wrap {
    overflow: hidden; }
  #partners .partners-container .slider .slider__item {
    min-width: 80px;
    padding: 0 20px; }

footer {
  overflow: hidden; }
  footer .footer__name {
    font-size: 30px; }
  footer .footer__item {
    padding: 28px 0 31px;
    border-bottom: 1px solid #B3B3B3; }
    footer .footer__item:last-child {
      border-bottom: 0; }
    footer .footer__item .footer__contact {
      display: flex;
      align-items: center; }
      footer .footer__item .footer__contact .footer__contact-form .form-control {
        margin-right: 30px; }
      footer .footer__item .footer__contact .footer__contact-form .check-area {
        position: absolute;
        margin-top: 9px; }
        footer .footer__item .footer__contact .footer__contact-form .check-area .checkmark {
          border: 1px solid #363636; }
    footer .footer__item .footer__social {
      width: 33%; }
      footer .footer__item .footer__social .footer__social-item {
        margin: 0 20px;
        width: 19px;
        content: "";
        display: inline-block;
        height: 19px;
        position: relative;
        color: #FFFFFF;
        border-radius: 50%;
        background-color: #008DCD; }
        footer .footer__item .footer__social .footer__social-item:hover {
          color: #363636;
          background-color: #FFCC00; }
        footer .footer__item .footer__social .footer__social-item .icon {
          position: absolute;
          font-size: 12px;
          top: 4px; }
          footer .footer__item .footer__social .footer__social-item .icon.icon-instagram {
            left: 4px; }
          footer .footer__item .footer__social .footer__social-item .icon.icon-facebook {
            left: 6px; }
          footer .footer__item .footer__social .footer__social-item .icon.icon-vk {
            left: 3px; }
  footer .footer-nav {
    display: flex;
    align-items: center; }
    footer .footer-nav .footer-nav__logo .footer-nav__img {
      width: 160px;
      height: 57px; }
    footer .footer-nav .footer-nav__menu {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .footer-nav .footer-nav__menu li {
        display: inline-block; }
        footer .footer-nav .footer-nav__menu li .footer-nav__item {
          padding: 15px 20px;
          color: #363636; }
          footer .footer-nav .footer-nav__menu li .footer-nav__item:hover {
            color: #008DCD; }

.modal {
  display: none;
  width: 440px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%;
  overflow: scroll;
  background-color: #FFFFFF;
  border-radius: 32px;
  font-size: 20px;
  position: absolute;
  z-index: 901;
  padding: 67px 40px 47px;
  box-shadow: 0 0 15px rgba(68, 68, 68, 0.5); }
  .modal.open {
    display: block; }
  .modal .modal__close {
    position: absolute;
    right: 19px;
    top: 13px;
    color: #008DCD;
    font-size: 26px;
    cursor: pointer;
    background-color: transparent;
    border: 0; }
    .modal .modal__close:hover {
      color: #FFCC00; }
  .modal .modal__name {
    font-size: 20px;
    text-align: center;
    margin-bottom: 29px; }
  .modal .modal__body {
    display: grid;
    grid-gap: 15px; }

.is-mobile {
  display: none; }

.is-not-mobile {
  display: block; }

@media screen and (max-width: 1024px) {
  #top:before {
    background-position: 58% 0; }

  .top-nav {
    justify-content: inherit; }
    .top-nav .top-nav__menu {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .top-nav .top-nav__menu li .top-nav__item {
        padding: 15px 13%; }

  .top-slogan__h1 {
    width: 50%; }

  .container {
    padding: 0 25px;
    width: initial; }

  .wrapper {
    display: block; }

  #about .about-container {
    grid-template-columns: 1fr 1.6fr; }

  .about-right .about-right__img {
    width: 95%;
    height: auto; }

  .advantages__items {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); }

  #call-to .call-to__left .call-to__h4 {
    font-size: 24px;
    width: 80%; }

  #package .send-package__h3 {
    width: 55%; }

  .guarantee__items .guarantee__item .btn {
    width: 100%; }
  .guarantee__items .guarantee__item .guarantee__name {
    font-size: 27px; }
  .guarantee__items .guarantee__item .guarantee__anons {
    min-height: 150px; }

  .slider__wrap {
    max-width: 855px; }

  .slider .slider__item {
    min-width: 400px; }

  .footer__contact-form {
    width: 50%; }
    .footer__contact-form .form-control {
      width: 80%; }

  footer .footer__name {
    font-size: 20px; }
  footer .btn {
    width: 50%; }
  footer .footer__item .footer__contact {
    width: 70%; }
  footer .footer-nav .footer-nav__menu li .footer-nav__item {
    padding: 15px 1%; } }
@media screen and (max-width: 1024px) and (orientation: portrait) {
  #top:before {
    background-position: 74% 0; }

  .top-nav .top-nav__menu li .top-nav__item {
    padding: 15px 11%; }

  .top-slogan__h1 {
    font-size: 41px; }

  #about .about-container {
    display: block; }
    #about .about-container .btn {
      width: 100%; }

  .advantages__items {
    grid-template-columns: repeat(auto-fill, minmax(11%, 1fr)); }
    .advantages__items .advantages__img {
      width: 6%; }

  #steps .steps-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-column-gap: 0;
    grid-row-gap: 0; }

  .guarantee__items .guarantee__item .btn {
    width: 100%; }
  .guarantee__items .guarantee__item .guarantee__name {
    font-size: 27px;
    min-height: 100px; }
  .guarantee__items .guarantee__item .guarantee__anons {
    min-height: 200px; }

  .doubt__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-column-gap: 0; }

  #call-to .call-to__left .call-to__h3 {
    font-size: 40px; }

  .slider__wrap {
    max-width: 535px; }

  .slider .slider__item {
    min-width: 500px; } }
.is-mobile {
  display: none !important; }

.is-not-mobile {
  display: block !important; }

@media screen and (max-width: 786px) {
  .is-mobile {
    display: block !important;
    position: relative;
    z-index: 11; }

  .is-not-mobile {
    display: none !important; }

  #top {
    position: relative;
    min-height: 100vh; }
    #top:before {
      background-position: 84% 0;
      background-size: 900px; }

  .top-slogan {
    color: #363636;
    background: #fff;
    position: relative;
    top: 244px;
    bottom: 0;
    margin: 0 -25px;
    padding: 30px 20px 0; }
    .top-slogan .top-slogan__h1 {
      font-size: 40px; }
    .top-slogan .top-slogan__h2 {
      margin-bottom: 35px;
      font-size: 24px; }
    .top-slogan .btn {
      width: 100%; }

  .top-nav {
    justify-content: space-between; }
    .top-nav .top-nav__logo .top-nav__img {
      display: block;
      width: 100px;
      position: relative;
      top: -4px;
      left: 8px;
      height: 29px; }
    .top-nav .top-nav__logo .top-nav__img-menu {
      display: none; }
    .top-nav .top__social {
      display: none; }
    .top-nav .top-nav__menu {
      display: none; }
    .top-nav.open-mobile {
      margin-bottom: -6px;
      padding-top: 20px; }
      .top-nav.open-mobile .top__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px; }
        .top-nav.open-mobile .top__social .footer__social-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
          width: 36px;
          color: #FFFFFF;
          border-radius: 50%;
          background-color: #008DCD; }
          .top-nav.open-mobile .top__social .footer__social-item:hover {
            background-color: #FFCC00;
            color: #363636; }
      .top-nav.open-mobile .top-nav__logo .top-nav__img {
        display: none; }
      .top-nav.open-mobile .top-nav__logo .top-nav__img-menu {
        width: 160px;
        height: 58px;
        top: -4px;
        left: -11px;
        position: relative;
        z-index: 12;
        display: block; }
      .top-nav.open-mobile .top-nav__menu {
        display: block;
        top: -21px;
        position: absolute;
        z-index: 10;
        margin: 0 -25px;
        padding: 100px 0 15px;
        background: #FFFFFF;
        width: 100%;
        box-shadow: 0 1px 7px rgba(68, 68, 68, 0.6); }
        .top-nav.open-mobile .top-nav__menu li {
          display: block; }
          .top-nav.open-mobile .top-nav__menu li .top-nav__item {
            padding: 10px 20px;
            display: block;
            color: #363636; }
          .top-nav.open-mobile .top-nav__menu li .top-nav__contact {
            padding: 10px 20px; }
            .top-nav.open-mobile .top-nav__menu li .top-nav__contact .top-nav__name {
              font-size: 18px; }
            .top-nav.open-mobile .top-nav__menu li .top-nav__contact .form-control {
              margin-bottom: 10px; }
            .top-nav.open-mobile .top-nav__menu li .top-nav__contact .check-area {
              color: #B3B3B3; }
              .top-nav.open-mobile .top-nav__menu li .top-nav__contact .check-area .checkmark {
                left: 2px;
                border: 1px solid #B3B3B3; }
        .top-nav.open-mobile .top-nav__menu .top-nav__name {
          margin: 11px 21px 0;
          font-weight: bold; }

  .navbar-toggle {
    position: relative;
    float: right;
    display: block;
    border: 0;
    height: 29px;
    width: 40px;
    overflow: hidden;
    top: 2px;
    cursor: pointer;
    right: -15px;
    white-space: nowrap;
    margin-top: -14px;
    margin-right: 16px;
    background: transparent none;
    -webkit-transition: all 300ms linear;
    -khtml-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear; }
    .navbar-toggle .icon-bar {
      background-color: #FFFFFF;
      position: absolute;
      top: 15px;
      display: inline-block;
      height: 4px;
      width: 40px;
      right: 0;
      margin-top: -2px;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      -o-transition: -o-transform 0.2s;
      transition: transform 0.2s; }
      .navbar-toggle .icon-bar:nth-child(2) {
        right: 0;
        top: 3px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        -o-transition: -o-transform 0.2s;
        transition: transform 0.2s; }
      .navbar-toggle .icon-bar:last-child {
        right: 0;
        top: 27px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        -o-transition: -o-transform 0.2s;
        transition: transform 0.2s; }
    .navbar-toggle.collapsed .icon-bar {
      background-color: #363636;
      width: 0;
      left: 0;
      right: 0;
      -webkit-transition: all 300ms linear;
      -khtml-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear; }
      .navbar-toggle.collapsed .icon-bar:nth-child(2), .navbar-toggle.collapsed .icon-bar:last-child {
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 37px;
        background: #363636; }
      .navbar-toggle.collapsed .icon-bar:nth-child(2) {
        content: '';
        right: 0;
        top: 12px;
        -webkit-transform: translateX(-1px) translateY(3px) rotate(-45deg);
        -moz-transform: translateX(-1px) translateY(3px) rotate(-45deg);
        -ms-transform: translateX(-1px) translateY(3px) rotate(-45deg);
        -o-transform: translateX(-1px) translateY(3px) rotate(-45deg);
        transform: translateX(-1px) translateY(3px) rotate(-45deg);
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        -o-transition: -o-transform 0.2s;
        transition: transform 0.2s; }
      .navbar-toggle.collapsed .icon-bar:last-child {
        content: '';
        right: 0;
        top: 24px;
        -webkit-transform: translateX(-1px) translateY(-9px) rotate(45deg);
        -moz-transform: translateX(-1px) translateY(-9px) rotate(45deg);
        -ms-transform: translateX(-1px) translateY(-9px) rotate(45deg);
        -o-transform: translateX(-1px) translateY(-9px) rotate(45deg);
        transform: translateX(-1px) translateY(-9px) rotate(45deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        -o-transition: -o-transform 0.2s;
        transition: transform 0.2s; }

  .guarantee-container {
    overflow: hidden; }

  .guarantee__items {
    display: flex;
    overflow: scroll; }
    .guarantee__items .guarantee__item {
      min-width: 300px;
      margin-right: 30px; }

  #package .package-container {
    padding: 30px 0;
    display: block;
    min-height: inherit; }

  #package .send-package__h3 {
    width: 100%;
    font-size: 24px; }

  .guarantee__items {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }

  #call-to .call-to-container {
    display: block; }
  #call-to .call-to__right {
    width: 100%;
    margin-top: 45px; }

  #reviews .reviews-container {
    padding: 30px 0; }

  .slider__wrap {
    max-width: 270px; }

  .slider .slider__item {
    min-width: 250px; }
    .slider .slider__item .slider__item-top .slider__item-name {
      font-size: 26px; }
    .slider .slider__item .slider__item-top .slider__item-company {
      font-size: 18px; }
    .slider .slider__item .slider__item-top .slider__item-type {
      margin-top: 0;
      font-size: 10px; }
    .slider .slider__item .slider__item-top .slider__item-img {
      margin-right: 20px;
      width: 100px;
      height: 100px; }

  #advantages .advantages-container {
    padding: 30px 0; }

  .advantages__items {
    grid-template-columns: repeat(auto-fill, minmax(30%, 3fr));
    grid-column-gap: 3%;
    grid-row-gap: 7%; }
    .advantages__items .advantages__img {
      width: 14%; }
    .advantages__items .advantages__anons {
      font-size: 10px; }

  footer .footer__item {
    display: block; }
    footer .footer__item .footer__contact {
      display: block;
      width: 100%; }
      footer .footer__item .footer__contact .footer__contact-form {
        width: 100%; }
        footer .footer__item .footer__contact .footer__contact-form .check-area {
          margin-top: 55px; }
        footer .footer__item .footer__contact .footer__contact-form .form-control {
          width: 100%;
          margin-bottom: 10px; }
    footer .footer__item.flex-box-between:last-child {
      font-size: 10px;
      display: flex; }
  footer .footer-nav {
    display: block; }
    footer .footer-nav .pull-right {
      float: right; }
    footer .footer-nav .navbar-toggle {
      margin-top: 12px; }
      footer .footer-nav .navbar-toggle .icon-bar {
        background-color: #363636; }
    footer .footer-nav .footer-nav__menu {
      display: none; }
    footer .footer-nav.open-mobile .footer-nav__menu {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: normal; }
      footer .footer-nav.open-mobile .footer-nav__menu li .footer-nav__item {
        padding: 8px 3%;
        display: block; }

  .modal {
    width: auto;
    padding: 67px 20px 36px;
    top: 10%; } }
@media screen and (max-width: 786px) and (orientation: portrait) {
  .btn {
    width: 100% !important; }

  summary:after {
    top: 24px; }

  details[open] summary:after {
    top: 33px; }

  .doubt__items .doubt__item .doubt__name {
    display: flex;
    padding: 0 0 0 20px;
    align-items: center;
    min-height: 80px;
    width: 76%; }

  .top-slogan__h1 {
    font-size: 32px;
    width: 100%; }

  .form-control {
    width: 86% !important; } }

/*# sourceMappingURL=main.css.map */
